version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/react-app"
    schedule:
      interval: "weekly"
    groups:
      all-dependencies:
        patterns:
          - "*"
