services:
  app:
    image: ghcr.io/uncle-mitch/uqmarks:latest
    ports:
      - "80:5000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    depends_on:
      - db
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      TZ: UTC
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local
