services:
  app:
    build:
      context: .
      dockerfile: dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      TZ: UTC
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local
