services:
  app:
    platform: linux/arm64
    build:
      context: .
      dockerfile: dockerfile
      args:
        # Build-time argument for the React app
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data  # Mount the 'data' folder for SQLite and logs
  db:
    image: postgres:15
    environment:
      TZ: Australia/Brisbane
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local