@font-face {
  font-family: titleFont;
  src: url("../fonts/Sato-Medium.ttf");
}

@font-face {
  font-family: contentFont;
  src: url("../fonts/RedHatDisplay-Regular.ttf");
}


.purp-bg {
  background-color: #48206C;
}

.white-bg {
  background-color: #F4EAFF;
  color: #F4EAFF;
}


.navbar-item:hover {
  background-color: #B461FF !important;
}

.allow_hover:hover {
  background-color: #B461FF !important;
  color: #F4EAFF !important;
}

.btn-purp-bg {
  background-color: #B461FF !important;
  color: rgb(255,255,255) !important;
  border: 0px !important;
  width: 100% !important;
}

#tblresults{
  margin-top: 50px;
}

.title {
  font-size: 56px !important;
  font-family: titleFont !important;
  letter-spacing: 0.04em;
}

.content-font {
  font-family: contentFont;
  letter-spacing: 0.05em;
}

.title-font {
  font-family: titleFont;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

.body-align {
  padding-left: 0%;
  padding-right: 0%;
}

.analytics-body-align {
  padding-left: 10%;
  padding-right: 10%;
}

.columns {
  padding-left: 9%;
  padding-right: 9%;
}

.warning-msg {
  width: 82%;
}
.is-warning-msg{
  background-color: #FFD700;
}

p.is-warning-msg {
  color: #000;
  letter-spacing: 0.05em !important;
}

.hero{
  color: rgb(255,255,255);
  padding-top: 50px;
  margin-bottom: 0% !important;
}

.text-light-purp{
  color: #D9B3FF;
}

.text-dark-purp{
  color: #48206C;
}

.text-white{
  color: #fff;
}

.is-danger {
  border-color: #FF636B;
  border-width: 5px;
}

p.is-danger {
  color: #FBE0E5;
}

#analytics-mobile-block {
  display: none;
}

@media only screen and (max-width: 768px) {
  table{
    width: 90% !important;
  }

  .warning-msg{
    width: 90% !important;
  }

  #analytics-mobile-block {
    display: block !important
  }

  #analytics-iframe {
    display: none !important;
  }

  .body-align, .dash-body {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .analytics-body-align {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .columns {
    padding-left: 5%;
    padding-right: 5%;
  }

  .score-input {
    font-size: 12px;
  }

}

@media only screen and (max-width: 1400px) {
  .dash-body, .body-align {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: auto;
    margin-right: auto;
  }
  
}

#submitBtn{
  background-color: #48206C;
  color: rgb(255,255,255);
}


#section-main {
  min-height: 100vh;
  padding-top: 0% !important;
}

.justify-align{
  min-width: 70%;
}

div {
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color:#F4EAFF;
  text-align: center;
  width: 82%;
}

.rounded-corner {
  border-radius: 6px;
}

.score-input{
  background-color: #F4EAFF;
  border-style: solid;
  border-radius: 6px;
  border-color: #000;
  font-size: 16px;
}

.score-input:disabled {
  background-color: #A9A9A9; /* Light grey background */
  border-color: #000;
  color: #6c757d; /* Grey text color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.figure {
  border-radius: 6px;
  background-color:#F4EAFF;
  justify-content: center;
  align-items: center;
  font-family: contentFont;
  cursor: default !important;
}

.dropdown-custom .Select-control {
  min-height: 200px; /* Set the minimum height */
}

#analytics-iframe {
  width: 100%;
  height: 700px;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: transparent;
}

.dash-container{
  height: 100%;
  min-height: 200px;
}

.dash-input {
  align-items: center !important;
  justify-content: center;
}

.plot-container {
  align-items: center !important;
  justify-content: center;
  overflow: hidden !important;
}

.SingleDatePickerInput {
  border: 0px;
}

/* Fix box width of datepicker to be 100% of parent container*/
.DateInput, .DateInput_1 {
  width: 100%; /* replace with whatever length you prefer */
}

/* Fix the font size and other stuff of datepicker*/
.DateInput_input, .DateInput_input_1 {
  /* my personal stuff */
  text-align: center;
  /*line-height: calc(1.5em + 0.75rem);*/
  /*width: 50%;*/
  /* default flatly stuff */
  height:20% !important;
  /*height: calc(1.5em + 0.75rem + 2px);*/
  font-size: 0.9375rem;
  font-weight: 400;
  color: #48206C;
  background-color: #fff;
  background-clip: padding-box;
  border: 'none';
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Select-input{
  height: 25px;
}

.Select-control{
  height: 27px;
}

.Select-placeholder{
  line-height: 100px;
}


th {
  text-align: center !important;
}

#row-1 {
  background-color: #68FF77;
}

.footer {
  position: relative;
  width:100%;
  height:60px;
  font-size: 12px;
  margin-top: 0px;
  background-color: #48206C;
  padding: 5px;
}

.footer-p, .white-text{
  color: rgb(255,255,255) !important;
  font-family: contentFont;
  letter-spacing: 0.05em;
}

.filter-btn {
  background-color: #4285F4 !important;
}

.tabs {
  margin-bottom: 0px !important;
}


#analytics-iframe {
  padding: 0;
  margin-bottom: -10px;
}

.switch-div {
  align-items: center;
  justify-content: center;
}


/* Icon on left, Text is centered for warnings*/
#invalid-weight-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

#invalid-weight-warning .fas {
  margin-right: 10px;
  color: #000000;
}

#invalid-weight-warning p {
  flex-grow: 1;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
