:root {
    --achieved-row-bg: #68ff77;
    --unobtainable-row-bg: #f27a71;
    --disabled-row-bg: #c1b7d2;
}

.v-theme--dark {
    --achieved-row-bg: #215b2f;
    --unobtainable-row-bg: #823936;
    --disabled-row-bg: #605470;
}
