<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UQ Grade Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
    <link rel="preload" href="{{url_for('static', filename='fonts//RedHatDisplay-Regular.ttf')}}" as="font">
    <link rel="preload" href="{{url_for('static', filename='fonts///Sato-Medium.ttf')}}" as="font">
    <meta name="robots" content="noindex">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW68VRSJ96"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BW68VRSJ96');
    </script>
  </head>
<nav class="navbar purp-bg" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{url_for('static', filename='images/uqmarks_logo.png')}}" alt="site logo" style="max-height: 50px" class="py-3 px-3">
      </a>

      <a class="navbar-burger" id='burger'>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
      </a>
    </div>

    <div id="nav-links" class="navbar-menu purp-bg">
      <div class="navbar-start">
        <a class="navbar-item white-text" href="/">
          Grade Calculator
        </a>

        <a class="navbar-item white-text" href="/quiz">
          Weekly Quiz Calculator
        </a>

        <a class="navbar-item white-text" href="/analytics">
          Analytics
        </a>

      </div>

      </div>
    </div>
  </nav>
  <body>
    <section class="hero purp-bg body-align">
      <div class="hero-body">
        <h1 class="title text-light-purp is-size-1">
          UQMARKS Search Analytics
        </h1>
        <h2 name="announcement" class="text-white is-size-4"></h2>
      </div>
    </section>
    <section class="section purp-bg analytics-body-align dash-body" id='section-main'>
      <div class="container content-is-large white-bg rounded-corner", id="analytics-body">
        <div class="tabs">
          <ul style="padding-left: 40px; padding-right: 40px">
            <li {% if page == "home" %}class="is-active"{% endif %}><a href="/analytics" class="content-font {% if page == "home" %}has-text-weight-bold{% endif %}">Total Searches</a></li>
            <li {% if page == "courses" %}class="is-active"{% endif %}><a href="/analytics/courses" class="content-font {% if page == "courses" %}has-text-weight-bold{% endif %}">Course Ranking</a></li>
            <li {% if page == "hourly" %}class="is-active"{% endif %}><a href="/analytics/hourly" class="content-font {% if page == "hourly" %}has-text-weight-bold{% endif %}">Hourly Usage</a></li>
          </ul>
        </div>
        <div class='dash-container' id="dash-container">
          <div id="analytics-mobile-block">
            <h2 class="content-font text-dark-purp is-size-1">
              Sorry, this webpage is only available on laptops or tablets.
            </h2>
          </div>
          <div id="spinner">
            <div>
                <progress class="progress is-small is-info" max="100">15%</progress> 
            </div>
          </div>
          <iframe class='figure dash-iframe' id="analytics-iframe" src="/dash/{{page}}"></iframe>  
        </div>  
      </div>
    </section>
  </body>
  <script type='text/javascript' src="{{url_for('static', filename='js/plot.js')}}"></script>
  <script type='text/javascript' src="{{url_for('static', filename='js/navbar.js')}}"></script>
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="footer-p">
        <strong class="footer-p">UQ Grade Calculator</strong> by <a class="footer-p" href="https://github.com/Uncle-Mitch/">UncleMitch</a>.
        <br>
        <a class="footer-p" href="https://github.com/Uncle-Mitch/uqmarks">GitHub Link</a> | <a class="footer-p" href="https://github.com/Uncle-Mitch/uqmarks/issues">Report Issues</a>
        <br>
        Inspired by <a class="footer-p" href="https://uqfinal.com/">UQfinal</a>
      </p>
    </div>
  </footer>
</html>