<!DOCTYPE html>
<html>
  <head class="purp-bg">
    <meta charset="utf-8">
    <meta name="theme-color" content="#48206c">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UQ Grade Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
    <link rel="preload" href="{{url_for('static', filename='fonts//RedHatDisplay-Regular.ttf')}}" as="font">
    <link rel="preload" href="{{url_for('static', filename='fonts///Sato-Medium.ttf')}}" as="font">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5647299176749275" crossorigin="anonymous"></script>
    <meta name="description" content="{{semesters[semesters.keys()|max()]}} - CALCULATE YOUR REQUIRED GRADES FOR EVERY UQ COURSE! need a certain GPA? Use this website.">
    <meta name="keywords" content="UQ, University of Queensland, Final Exam, uqmarks, mark calculator, final exam calculator, uqfinal">
    <meta property='og:title'  content='UQ Grade Calculator'>
    <meta property='og:url'  content='https://www.uqmarks.com/'>
    <meta property='og:description'  content='{{semesters[semesters.keys()|max()]}} - CALCULATE YOUR REQUIRED GRADES for UQ.'>
    <meta property="og:image" content="https://www.uqmarks.com/static/images/share.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW68VRSJ96"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BW68VRSJ96');
    </script>
  </head>
  <nav class="navbar purp-bg" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{url_for('static', filename='images/uqmarks_logo.png')}}" alt="site logo" style="max-height: 50px" class="py-3 px-3">
      </a>

      <a class="navbar-burger" id='burger'>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
      </a>
    </div>

    <div id="nav-links" class="navbar-menu purp-bg">
      <div class="navbar-start">
        <a class="navbar-item white-text" href="/">
          Grade Calculator
        </a>

        <a class="navbar-item white-text" href="/quiz">
          Weekly Quiz Calculator
        </a>

      </div>

      </div>
    </div>
  </nav>

  <body>
  <section class="hero purp-bg body-align">
    <div class="hero-body">
      <h1 class="title text-light-purp is-size-1">
        UQMARKS Grade Calculator
      </h1>
      <h2 name="announcement" class="text-white is-size-4">Best of luck with all your exams 😀 </h2>
    </div>
  </section>
  <section class="section purp-bg body-align" id='section-main'>
    <div class="container">
      <div class="content-is-large ">
        <div class="container">
          <form method='post' action="/redirect" id="courseform" class="justify-align">
            <div class="columns is-centered is-3 is-multiline">
              <div class="column">
                <p class="control">
                  <div class="select is-medium is-fullwidth content-font">
                    <select name='Semester'>
                      {% for sem_code, sem_text in semesters.items() %}
                        <option value="{{sem_code}}" {% if sem == sem_code %} selected {% endif %}>{{sem_text}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </p>
              </div>
              <div class="column">
                <p class="control ccode">
                  <input name='CourseCode' class="input is-medium content-font" type="text" placeholder="Course Code" autocomplete="off" spellcheck="false" autofocus>
                </p>
              </div>
              <div class="column is-one-fifth">
                <p class="control">
                    <button id="submitBtn" class="button btn-purp-bg is-medium content-font" type="submit">
                    Go
                    </button>
                </p>
              </div>
            </div>
          </form>

        </div>
      </div>
  </section>
  </body>
  <script type='text/javascript' src="{{url_for('static', filename='js/navbar.js')}}"></script>
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="footer-p">
        <strong class="footer-p">UQ Grade Calculator</strong> by <a class="footer-p" href="https://github.com/Uncle-Mitch/uqmarks">UncleMitch</a>.
        <br>
        Inspired by <a class="footer-p" href="https://uqfinal.com/">UQfinal</a>
      </p>
    </div>
  </footer>
</html>