<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UQ Grade Calculator</title>
    <meta name="description" content="Easily calculate the mark required to get your desired grade at UQ!">
    <meta name="keywords" content="UQ, University of Queensland, Final Exam, uqmarks, mark calculator, final exam calculator">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="preload" href="{{url_for('static', filename='fonts//RedHatDisplay-Regular.ttf')}}" as="font">
    <link rel="preload" href="{{url_for('static', filename='fonts///Sato-Medium.ttf')}}" as="font">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5647299176749275"
     crossorigin="anonymous"></script>
     <meta name="robots" content="noindex">
  </head>

  <nav class="navbar purp-bg" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{url_for('static', filename='images/uqmarks_logo.png')}}" alt="site logo" style="max-height: 50px" class="py-3 px-3">
      </a>

      <a class="navbar-burger" id='burger'>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
      </a>
    </div>

    <div id="nav-links" class="navbar-menu purp-bg">
      <div class="navbar-start">
        <a class="navbar-item white-text" href="/">
          Grade Calculator
        </a>

        <a class="navbar-item white-text" href="/quiz">
          Weekly Quiz Calculator
        </a>

      </div>

      </div>
    </div>
  </nav>
  <body>
    <section class="hero purp-bg body-align">
    <div class="hero-body">
      <h1 class="title text-light-purp is-size-1">
        UQMARKS Grade Calculator
      </h1>
    </div>
  </section>
  <section class="section purp-bg body-align" id='section-main'>
    <div class="container">
      <div class="content-is-large">
        <div class="container">
          <form method='post' action="/redirect" id="courseform" class="justify-align">
            <div class="columns is-centered is-3 is-multiline">
              <div class="column">
                <p class="control">
                  <div class="select is-medium is-fullwidth">
                    <select class="content-font" name='Semester'>
                      <option value='2023S1'>Semester 1 2023</option>
                      <option value='2022S2'>Semester 2 2022</option>
                      <option value='2022S1'>Semester 1 2022</option>
                      <option value='2021S2'>Semester 2 2021</option>
                    </select>
                  </div>
                </p>
              </div>
              <div class="column">
                <p class="control ccode">
                  <input name='CourseCode' value={{code}} class="input is-medium is-danger content-font" type="text" placeholder="Course Code" autocomplete="off" spellcheck="false" autofocus >
                  <p class="help is-danger is-size-6 content-font">Code is invalid</p>
                </p>
              </div>
              <div class="column is-one-fifth">
                <p class="control">
                    <button id="submitBtn" class="button btn-purp-bg is-medium content-font" type="submit">
                    Go
                    </button>
                </p>
              </div>
            </div>
          </form>

        </div>
      </div>
  </section>
  </body>
<footer class="footer">
    <div class="content has-text-centered">
      <p class="footer-p">
        <strong class="footer-p">UQ Grade Calculator</strong> by NotMitch.
        <br>
        <a href="https://forms.gle/KE1r15WmLNaHBtnp6"><strong class="footer-p">Contact form</strong></a>
        <br>
        Inspired by <a class="footer-p" href="https://uqfinal.com/">UQfinal</a>
      </p>
    </div>
  </footer>
</html>