<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UQ Grade Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index_style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
    <link rel="preload" href="{{url_for('static', filename='fonts//RedHatDisplay-Regular.ttf')}}" as="font">
    <link rel="preload" href="{{url_for('static', filename='fonts///Sato-Medium.ttf')}}" as="font">
    <meta name="robots" content="noindex">
        <meta property='og:title'  content='UQ Grade Calculator'>
    <meta property='og:url'  content='https://www.uqmarks.com/'>
    <meta property='og:description'  content='SEMESTER 1 2023 - CALCULATE YOUR REQUIRED GRADES. Need to get a certain GPA? Easily calculate the mark required to get your desired grade at UQ with UQMARKS!'>
    <meta property="og:image" content="https://www.uqmarks.com/static/images/share.png" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW68VRSJ96"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BW68VRSJ96');
    </script>
  </head>
  <nav class="navbar purp-bg" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="{{url_for('static', filename='images/uqmarks_logo.png')}}" alt="site logo" style="max-height: 50px" class="py-3 px-3">
      </a>

      <a class="navbar-burger" id='burger'>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
        <span class="white-bg"></span>
      </a>
    </div>

    <div id="nav-links" class="navbar-menu purp-bg">
      <div class="navbar-start">
        <a class="navbar-item white-text" href="/">
          Grade Calculator
        </a>

        <a class="navbar-item white-text" href="/quiz">
          Weekly Quiz Calculator
        </a>

      </div>

      </div>
    </div>
  </nav>
  <body>

<section class="hero purp-bg body-align">
    <div class="hero-body">
      <h1 class="title text-light-purp is-size-1">
        UQMARKS Weekly Quiz Calculator
      </h1>
    </div>
  </section>
  <section class="section purp-bg body-align" id='section-main'>
    <div class="container">
      <div class="content-is-large">
        <div class="container">
          <div class="columns is-centered is-3 is-multiline is-vcentered">
            <div class="column">
              <label class="label has-text-left white-text content-font is-size-5">Total number of quizzes:</label>
            </div>
            <div class="column is-one-fifth">
              <p class="control ccode">
                <input id="Qtotalnum" onchange="changeQuiz()" min=0 name='CourseCode' class="input is-medium content-font" type="number" value=0 placeholder="Num of Quizzes" autocomplete="off" spellcheck="false">
              </p>
            </div>
          </div>
          <div class="columns is-centered is-3 is-multiline is-vcentered">
            <div class="column">
              <label class="label has-text-left white-text content-font is-size-5">Number of quizzes that count towards grade:</label>
            </div>
            <div class="column is-one-fifth">
              <p class="control ccode">
                <input id="Qcount" onchange="changeCount()" class="input is-medium content-font" min=0 type="number" value=0 placeholder="Num of Quizzes" autocomplete="off" spellcheck="false">
              </p>
            </div>
          </div>

        </div>
      </div>
        <div class="container" id="tblresults">
          <table class="table" style="width: 82%" id="tblQuiz">
            <colgroup>
              <col span="1" style="width: 40%;">
              <col span="1" style="width: 30%;">
              <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
              <th>Quiz Number</th>
              <th>Your Score</th>
              <th>Percentage</th>
            </thead>
          </table>
        </div>

        <div class="results-container">
        <br>
          <h2 class="subtitle is-size-2 has-text-weight-semibold text-light-purp">Result</h2>
          <p class="subtitle text-light-purp" id="lbltotalScore">Total Score: 0.00%</p>
        </div>
        <br>
        

      </div>

    </div>
  </section>
  </body>
  <script type='text/javascript' src="{{url_for('static', filename='js/quiz.js')}}"></script>
  <script type='text/javascript' src="{{url_for('static', filename='js/navbar.js')}}"></script>
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="footer-p">
        <strong class="footer-p">Weekly Quiz Calculator</strong> by UncleMitch.
        
      </p>
    </div>
  </footer>
</html>